html,
body {
  color-scheme: White;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error{
  color : red;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 20px;
  text-align: left;
  visibility: visible;
}



