.container {
    padding: 0 2rem;
  }
  
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.judul{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.kotak {
    background-color: #c2b2a2;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}

.foto{
    margin-top: 15px;
    margin-left: 20px;
    position: block;
    justify-items: center;
}

.text{
    font-weight: bold;
    margin-left: 30px;
    margin-right: 10px;
}
.logoutButton{
    text-decoration: none;
    display: inline-block;
    color: red;
    background: #DFDFDF;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bold;
}

.icon{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #DFDFDF;
    overflow-y: visible;
}

.iconbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}

.plus{
    background-color: #C2B2A2;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    position: relative;
    bottom: 20px;
}

.tombolplus{
    font-size: 35px;
    text-align: center;
    position: relative;
    bottom: 28px;
}

